<div cdkDrag cdkDragBoundary=".cdk-overlay-container"
     cdkDragRootElement=".dialog-box.welcome">
  <div cdkDragHandle mat-dialog-title>
    <mat-icon>info</mat-icon>
    <h1>{{ globals.titles.welcome }}</h1>
    <app-close-button [data]="closeData"></app-close-button>
  </div>
  <mat-dialog-content>
    <div i18n></div>
  </mat-dialog-content>
  <mat-dialog-actions>
  </mat-dialog-actions>
</div>

<ng-template #formFieldTemplate let-name="name">
  <mat-form-field [appearance]="globals.appearance" [formGroup]="form">
    <mat-label>{{ controls[name]?.label }}</mat-label>
    <input [formControlName]="name" [id]="name" matInput>
  </mat-form-field>
</ng-template>

