<div cdkDrag cdkDragBoundary=".cdk-overlay-container"
     cdkDragRootElement=".dialog-box.welcome">
  <div cdkDragHandle mat-dialog-title>
    <mat-icon i18n-matTooltip matTooltip="The name of the app is based on Star Wars, where Order 66 was an order that
      the clone troopers could not disobey and which resulted in the extinction of the
      Jedi. Of course, this app is NOT intended to exterminate the Jedi, but the
      current instructions of the pet owners are to be followed.">info
    </mat-icon>
    <h1>{{ globals.titles.welcome }}</h1>
    <app-close-button [data]="closeData"></app-close-button>
  </div>
  <mat-dialog-content>
    <div i18n></div>
  </mat-dialog-content>
  <mat-dialog-actions>
  </mat-dialog-actions>
</div>

<ng-template #formFieldTemplate let-name="name">
  <mat-form-field [appearance]="globals.appearance" [formGroup]="form">
    <mat-label>{{ controls[name]?.label }}</mat-label>
    <input [formControlName]="name" [id]="name" matInput>
  </mat-form-field>
</ng-template>

