<div cdkDrag cdkDragBoundary=".cdk-overlay-container"
     cdkDragRootElement=".dialog-box.whatsnew">
  <div cdkDragHandle mat-dialog-title>
    <h1>{{ globals.titles.whatsnew }}</h1>
    <app-close-button [data]="closeData"></app-close-button>
  </div>
  <mat-dialog-content>
    <br/>
    <app-v109></app-v109>
    <app-v108></app-v108>
    <app-v107></app-v107>
    <app-v106></app-v106>
    <app-v105></app-v105>
    <app-v104></app-v104>
    <app-v103></app-v103>
    <app-v102></app-v102>
    <app-v101></app-v101>
    <app-v100></app-v100>
  </mat-dialog-content>
</div>
