<mat-card (click)="clickGBCard($event)" [class]="classForGb">
  @if (bs.isModeManage) {
    <button [matMenuTriggerFor]="colorMenu" btnMark mat-icon-button small-icon-button>
      @for (icon of gb.icon; track $index) {
        <mat-icon [class]="icon.class">{{ icon.key }}</mat-icon>
      }
    </button>
    <mat-menu #colorMenu="matMenu" [overlapTrigger]="true" btnMark class="menuGb">
      @for (option of globals.siteConfig.colors; track $index) {
        <button (click)="clickColor($event, $index)" [style]="{backgroundColor: option.color}" mat-menu-item>
        </button>
      }
      <button (click)="clickGBEdit($event)" btnEdit mat-menu-item>
        <mat-icon>edit</mat-icon>
      </button>
    </mat-menu>
  } @else if (bs.isModeBuildings || bs.isModeSelect) {
    <button btnMark mat-icon-button small-icon-button>
      @for (icon of gb.icon; track $index) {
        <mat-icon [class]="icon.class">{{ icon.key }}</mat-icon>
      }
    </button>
  }
  <div card-title>
    {{ gb.name }}
  </div>
  @if (!bs.isModeManage && globals.isDebug) {
    <div i18n-title info title="Die Anzahl an Leveln für die es Daten gibt">{{ gb.levels.length }}</div>
  }
  @if (bs.isModeBuildings || bs.isModeSelect || bs.showInfo) {
    <div gb-effects>
      @for (e of gb.effects; track $index) {
        <div>{{ e }}</div>
      }
    </div>
  }
  @if (globals.user.siteMode > 0 && gbUser != null) {
    <mat-card-content>
      @if (globals.siteConfig.levelGbKey === gb.key) {
        <div levelEdit>
          <mat-form-field>
            <mat-label i18n>Level</mat-label>
            <input (blur)="saveLevel()"
                   (focus)="bs.onFocus($event)"
                   (keydown.enter)="saveLevel()"
                   [(ngModel)]="globals.siteConfig.levelValue" autofocus matInput>
          </mat-form-field>
          <button (click)="saveLevel($event)" matIconButton small-icon-button>
            <mat-icon>done</mat-icon>
          </button>
        </div>
      } @else {
        <div level>
          @if (globals.user.showLevelArrows) {
            <button
              (contextmenu)="$event.preventDefault()"
              (pointercancel)="stopLevelChange($event)"
              (pointerdown)="startLevelChange($event, -1)"
              (pointerleave)="stopLevelChange($event)"
              (pointerup)="stopLevelChange($event)"
              [disabled]="gbUser.level < 2" matIconButton small-icon-button>
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
          }
          <button (click)="clickEditLevel($event)" mat-button>{{ gbUser.level }}</button>
          @if (globals.user.showLevelArrows) {
            <button
              (contextmenu)="$event.preventDefault()"
              (pointercancel)="stopLevelChange($event)"
              (pointerdown)="startLevelChange($event, 1)"
              (pointerleave)="stopLevelChange($event)"
              (pointerup)="stopLevelChange($event)"
              [disabled]="gbUser.level >= gb.levels.length-1" matIconButton small-icon-button>
              <mat-icon>arrow_drop_up</mat-icon>
            </button>
          }
        </div>
      }
      @if (nextLevel != null) {
        <!--
        Table for rewards
        -->
        <table>
          <tr first row>
            <!-- row for level and cost -->
            <td name>
              <div level>
                <mat-icon>move_up</mat-icon>
                {{ nextLevel.level }}
              </div>
            </td>
            <td>
              <div cost>{{ nextLevel.cost }}</div>
            </td>
            <td>{{ isColumnVisible(-1) ? '' : calcTitles[gbUser.copyIdx] }}</td>
            @if (showSniper && isColumnVisible(-1)) {
              <!-- titles of calcmethods -->
              @for (_method of calcMethods; let calcIdx = $index; track calcIdx) {
                @if (isColumnVisible(calcIdx)) {
                  <td colspan="2">
                    <div title>{{ calcTitles[calcIdx] }}</div>
                  </td>
                }
              }
            }
          </tr>
          @if (showSniper) {
            <tr row>
              <!-- row for own value -->
              <td></td>
              @if (isColumnVisible(-1)) {
                <td [class]="classForCopy(-1)" owner reward>
                  <div (click)="clickCopyIdx($event, -1)">
                    <mat-icon>crown</mat-icon>
                    {{ ownerValueMax(nextLevel) }}
                  </div>
                </td>
                <td [class]="classForCopy(-1, ['blocks'])"></td>
              }
              @for (_method of calcMethods; let calcIdx = $index; track calcIdx) {
                @let v = calcPlaceValue(calcIdx, nextLevel, -2, gbUser.ownerValue);
                @if (isColumnVisible(calcIdx)) {
                  <td [class]="classForCopy(calcIdx)">
                    @let pv = calcPlaceValue(calcIdx, nextLevel, -2, gbUser.ownerValue);
                    @if ((pv ?? 0) > 0 || gbUser.sniperValues?.length > 0) {
                      <div (click)="clickCopyIdx($event, calcIdx)" calccost cost>
                        <mat-icon>crown</mat-icon>
                        {{ v }}
                      </div>
                    } @else {
                      <div calccost cost>
                        <mat-icon>crown</mat-icon>
                        {{ v }}
                      </div>
                    }
                  </td>
                  <td [class]="classForCopy(calcIdx, ['blocks'])"></td>
                }
              }
            </tr>
          } @else {
            <tr row>
              <td></td>
              @if (isColumnVisible(-1)) {
                <td [class]="classForCopy(-1)" owner reward>
                  <div>
                    <mat-icon>crown</mat-icon>
                    {{ ownerValueMax(nextLevel) }}
                  </div>
                </td>
                <td [class]="classForCopy(-1, ['blocks'])">
                  @if (gbUser.ownerValue > 0 && +gbUser.ownerValue !== +ownerValueMax(nextLevel)) {
                    <div block>
                      <mat-icon>crown</mat-icon>
                      -{{ +ownerValueMax(nextLevel) - +gbUser.ownerValue }}
                    </div>
                  }
                </td>
              }
            </tr>
          }
          <!-- rows for places -->
          @for (reward of nextLevel.rewards; let rewardIdx = $index; track rewardIdx) {
            @if (reward !== 0) {
              <tr (click)="clickRow($event, rewardIdx)" [class]="classForReward(rewardIdx)" row>
                <td title>P{{ rewardIdx + 1 }}</td>
                @if (isColumnVisible(-1)) {
                  <td [class]="classForCopy(-1)" reward>{{ bs.calcReward(reward) }}</td>
                  <td [class]="classForCopy(-1, ['blocks'])">
                    <div [class]="classForBlock(-1, nextLevel, rewardIdx)" block>
                      @let block = calcBlockValue(-1, nextLevel, rewardIdx);
                      @let last = calcBlockValue(-1, nextLevel, rewardIdx - 1);
                      @if ((rewardIdx === 0 || block > last) && block > 0) {
                        {{ block }}
                      } @else {
                        <mat-icon i18n-title title="Der Platz ist mit dem Eigenanteil schon gesichert">thumb_up</mat-icon>
                      }
                    </div>
                  </td>
                }
                @if (showSniper) {
                  @for (_method of calcMethods; let calcIdx = $index; track calcIdx) {
                    @if (isColumnVisible(calcIdx)) {
                      <td [class]="classForCopy(calcIdx)">
                        <div [class]="classForPlaceValue(calcIdx, nextLevel, rewardIdx, gbUser.ownerValue)" calc>
                          @if (calcPlaceValue(calcIdx, nextLevel, -2, gbUser.ownerValue) > 0 || gbUser.sniperValues?.length > 0) {
                            @let v = calcPlaceValue(calcIdx, nextLevel, rewardIdx, gbUser.ownerValue);
                            @if (v >= 0) {
                              <span></span>{{ v }}
                            } @else {
                              <mat-icon>target</mat-icon>
                              {{ -v }}
                            }
                          } @else {
                          }
                        </div>
                      </td>
                      <td [class]="classForCopy(calcIdx, ['blocks'])">
                        <div [class]="classForBlock(calcIdx, nextLevel, rewardIdx)" block>
                          @let block = calcBlockValue(calcIdx, nextLevel, rewardIdx);
                          @let last = calcBlockValue(calcIdx, nextLevel, rewardIdx - 1);
                          @if ((rewardIdx === 0 || block > last) && block > 0) {
                            {{ block }}
                          } @else {
                            <mat-icon i18n-title title="Der Platz ist mit dem Eigenanteil schon gesichert">thumb_up</mat-icon>
                          }
                        </div>
                      </td>
                    }
                  }
                }
              </tr>
            }
          }
          @if (showSniper) {
            <tr>
              @if (isColumnVisible(-1)) {
                <td colspan="3"></td>
              } @else {
                <td></td>
              }
              @for (_method of calcMethods; let calcIdx = $index; track calcIdx) {
                @if (isColumnVisible(calcIdx)) {
                  <td>
                    <div calcTotal>
                      @if (calcPlaceValue(calcIdx, nextLevel, -2, gbUser.ownerValue) > 0 || gbUser.sniperValues?.length > 0) {
                        <mat-icon>crown</mat-icon>
                        {{ calcTotal(calcIdx, nextLevel, gbUser.ownerValue) }}
                      }
                    </div>
                  </td>
                  <td></td>
                }
              }
            </tr>
          }
        </table>

        @if (showSniper && globals.user.activeUserGb != null) {
          @if (globals.siteConfig.editField === 'owner') {
            <div topSpace>
              <mat-form-field>
                <mat-label i18n>
                  <mat-icon>crown</mat-icon>
                  Eingezahlter Eigenanteil
                </mat-label>
                <input (focus)="bs.onFocus($event)"
                       (keydown.enter)="globals.siteConfig.editField = ((gbUser.sniperValues?.length ?? 5)<5 ? 'sniper' : null)"
                       [(ngModel)]="gbUser.ownerValue" autofocus matInput>
              </mat-form-field>
              <button (click)="saveOwnerValue($event)" matIconButton small-icon-button>
                <mat-icon>done</mat-icon>
              </button>
              <button (click)="clearOwnerValue($event)" matIconButton small-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          } @else if (globals.siteConfig.editField === 'sniper') {
            <div topSpace>
              <mat-form-field>
                <mat-label i18n>
                  <mat-icon>target</mat-icon>
                  Eingezahlter Anteil
                </mat-label>
                <input (blur)="saveSniperValue()"
                       (focus)="bs.onFocus($event)"
                       (keydown.enter)="saveSniperValue(null, true)"
                       [(ngModel)]="globals.siteConfig.sniperValue" autofocus matInput>
              </mat-form-field>
              <button (click)="saveSniperValue($event)" mat-button>
                <mat-icon>done</mat-icon>
              </button>
            </div>
          } @else {
            <button (click)="clickOwnerValue($event)" mat-button owner>
              <mat-icon>crown</mat-icon>
              <span>@if (gbUser.ownerValue > 0) {
                {{ gbUser.ownerValue }}
              } @else {
                Eigenanteil
              }</span>
            </button>
            @for (sniper of gbUser.sniperValues; track $index) {
              <button (click)="clickSniperValue($event, $index)" mat-button owner>
                <mat-icon>target</mat-icon>
                <span>{{ sniper }}</span>
              </button>
            }
            @if (gbUser.sniperValues?.length < 5) {
              <button (click)="globals.siteConfig.editField='sniper'" mat-button owner>
                <mat-icon>target</mat-icon>
                <span i18n>Fremdanteil</span>
              </button>
            }
            @if (globals.user.siteMode === 1 && gbUser.copyIdx >= 0) {
              <button (click)="clickSecure($event)" mat-button owner>
                <mat-icon>local_police</mat-icon>
                <span i18n>"{{ this.calcTitles[gbUser.copyIdx] }}" absichern</span>
              </button>
            }
          }
        }
        @if (bs.isModeManage) {
          @if (ownSort) {
            <div copyPanel>
              @if (gbUser.sortIdx > 0) {
                <button (click)="clickOwnSort($event, -2)" mat-icon-button small-icon-button>
                  <mat-icon>skip_previous</mat-icon>
                </button>
                <button (click)="clickOwnSort($event, -1)" mat-icon-button small-icon-button>
                  <mat-icon>arrow_back_2</mat-icon>
                </button>
              } @else {
                <div></div>
              }
              @if (gbUser.sortIdx < globals.gbList.length - 1) {
                <button (click)="clickOwnSort($event, 1)" mat-icon-button small-icon-button>
                  <mat-icon>play_arrow</mat-icon>
                </button>
                <button (click)="clickOwnSort($event, 2)" mat-icon-button small-icon-button>
                  <mat-icon>skip_next</mat-icon>
                </button>
              } @else {
                <div></div>
              }
            </div>
          } @else {
            <button (click)="clickCopyAction($event, nextLevel)" copyButton mat-button>
              <span>{{ copyData(nextLevel) }}</span>
            </button>
          }
        }
      }
    </mat-card-content>
  }
  @if (bs.isModeManage) {
    <button (click)="clickGBEdit($event)" btnEditHover mat-mini-fab>
      <mat-icon>{{ globals.user.activeGbKey != null ? 'keyboard_arrow_left' : 'edit' }}</mat-icon>
    </button>
  }
</mat-card>
