:host {
  display: flex;
  position: relative;
  overflow: hidden;
}

[mainpanel] {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: var(--doc-height);
  background-color: var(--mainBack);
  color: var(--mainFore);
  overflow: hidden;

  [toolbar] {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: var(--mainHeadBack);
    color: var(--mainHeadFore);
    z-index: 2;
    position: relative;
    padding: 0 1em;

    mat-slide-toggle {
      --mat-slide-toggle-label-text-color: var(--headFore);
      margin-left: 1em;
    }

    button:first-child {
      margin-left: 0.75em;
    }

    button {
      transition: transform 0.5s linear, background-color 0.5s linear, color 0.5s linear;
    }

    button.current {
      background: var(--mainBodyBack);
      color: var(--mainBodyFore);
      transform: translateY(0.6em);
    }

    div {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    div[center] {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
    }

    mat-icon {
      color: var(--toolbarFore);
    }

    mat-icon#link-delete {
      color: var(--trashcan);
    }
  }

  [content] {
    position: relative;
    height: calc(var(--doc-height) - 50px);
  }

  [content] {
    overflow-y: auto;
    display: flex;
    flex-flow: column;

    [gbList] {
      display: grid;
      padding: 0.5em;
      grid-template-columns: repeat(auto-fill, minmax(13em, 2fr));
      grid-gap: 0.2em;

      button[small-icon-button] {
        --size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        --mat-icon-button-state-layer-size: var(--size);

        mat-icon {
          font-size: var(--size);
        }
      }
    }

    textarea {
      display: flex;
      flex: 1;
    }
  }

  [content].building {
    align-items: center;
    justify-content: center;

    [gbList] {
      grid-template-columns: initial;
    }
  }

  [viewInfo] {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 100;
    transform: translateX(-50%);
    border: 1px solid black;
    border-radius: 0.3em;
    padding: 2px 1em;
    font-size: 12px;
    background: var(--logDebugColor);
  }
}

::ng-deep [linkcard] {
  background: var(--linkBack) !important;
  color: var(--linkFore) !important;
}

.appicon {
  width: 32px;
}

::ng-deep .mat-menu-panel {
  background-color: var(--menuBack);
  color: var(--menuFore);
}

[mainpanel] {
  background-color: var(--mainBodyBack);
  color: var(--mainBodyFore);
}

.btnLanguage:not(:hover) {
  .crowdin {
    display: none;
  }
}

.crowdin {
  margin-top: 12px;
  position: fixed;
}

button[micro-button] {
  background-color: transparent;
}

app-log {
  position: absolute;
  bottom: 0;
}

[gbListError] {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 2em;
  background: red;
  color: rgba(255, 255, 0, 0.9);
}

[version] {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: rgba(0, 0, 0, 0.4);
}
