<div mainpanel>
  <div toolbar>
    <div>
      <div>{{ toolbarTitle }}</div>
      <ng-template #btnBack>
        <button (click)="clickBuildingsBack($event)" matIconButton small-icon-button>
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </ng-template>
      <ng-template #btnSiteMode let-mode="mode">
        <button (click)="toggleMode($event, mode)" matIconButton small-icon-button>
          <mat-icon>{{ iconForMode(mode) }}</mat-icon>
        </button>
      </ng-template>
      @switch (globals.user.siteMode) {
        @case (EnumSitemode.manage) {
          @if (globals.user.activeUserGb == null) {
            <ng-container [ngTemplateOutletContext]="{}" [ngTemplateOutlet]="btnSiteMode"/>
            <ng-container [ngTemplateOutletContext]="{mode: EnumSitemode.buildings}" [ngTemplateOutlet]="btnSiteMode"/>
            @if (globals.isDebug) {
              <ng-container [ngTemplateOutletContext]="{mode: EnumSitemode.players}" [ngTemplateOutlet]="btnSiteMode"/>
            }
          } @else {
            <ng-container [ngTemplateOutlet]="btnBack"/>
          }
        }
        @case (EnumSitemode.select) {
          <ng-container [ngTemplateOutletContext]="{}" [ngTemplateOutlet]="btnSiteMode"/>
        }
        @case (EnumSitemode.buildings) {
          <ng-container [ngTemplateOutlet]="btnBack"/>
        }
        @case (EnumSitemode.players) {
          <ng-container [ngTemplateOutlet]="btnBack"/>
        }
      }
    </div>
    @if (globals.user.siteMode !== 2 || globals.user.activeGbKey == null) {
      <div>
        <button (click)="clickSort($event)" matIconButton small-icon-button>
          <mat-icon>{{ iconForSort }}</mat-icon>
        </button>
      </div>
    }
    <div>
      @if (globals.siteConfig.editField === 'user') {
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input (blur)="saveName()"
                 (focus)="bs.onFocus($event)"
                 (keydown.enter)="saveName()"
                 [(ngModel)]="globals.user.username"
                 autofocus matInput>
        </mat-form-field>
        <button (click)="saveName()" mat-button>
          <mat-icon>done</mat-icon>
        </button>
      } @else {
        <button (click)="clickName($event)" mat-button>
          {{ globals.user.username }}
        </button>
        <button (click)="clickZoom($event)" mat-button>
          <mat-icon>
            {{ ['zoom_in', 'zoom_out'][globals.user.userzoom] }}
          </mat-icon>
        </button>
      }

      @if (globals.isDebug) {
        <button (click)="clickImport($event)" mat-button>Importieren</button>
        <button (click)="clickCopy($event)" mat-button>
          <mat-icon>content_copy</mat-icon>
        </button>
      }
      <!-- button (click)="sync.toggleSyncDropbox()" id="sync" mat-icon-button>
        <ng-container *ngIf="!sync.hasSync">
          <mat-icon>sync_disabled</mat-icon>
        </ng-container>
        <ng-container *ngIf="sync.hasSync">
          <img alt="dropbox" src="../../../assets/images/dropbox.png">
        </ng-container>
      </button -->
      <app-close-button [data]="closeData"></app-close-button>
    </div>
  </div>
  <div>
    <div [class]="classForContent" [style]="styleForContent" content>
      @if (assist.importDone) {
        <textarea>{{ gbJson }}</textarea>
      } @else if (!assist.hasData) {
        <div gbListError>
          Die Daten aus dem Cache sind falsch. Bitte den Cache leeren und neu versuchen.
        </div>
      } @else if (assist.loadDone) {
        <div gbList>
          @for (gb of globals.gbList; track $index) {
            <app-building [building]="gb"></app-building>
          }
        </div>
        @if (bs.isModePlayers) {
          @if (editPlayer != null) {
            <mat-form-field>
              <mat-label i18n>
                <mat-icon>target</mat-icon>
                Spielername
              </mat-label>
              <input (blur)="savePlayer()"
                     (focus)="bs.onFocus($event)"
                     [(ngModel)]="editPlayer" autofocus matInput>
            </mat-form-field>
          } @else {
            <!--            @for (player of globals.playerList; track $index) {-->
              <!--            }-->
            <button (click)="clickPlayersAdd($event)" btnAdd mat-fab>
              <mat-icon> add</mat-icon>
            </button>
          }
        }
      }
    </div>
  </div>
  <app-log></app-log>
</div>
<app-progress></app-progress>
<div hidden id="mark"></div>
<div (click)="showWhatsNew()" version>{{ globals.version }}</div>
