<div mainpanel>
  <div toolbar>
    <div>
      @if (globals.appData?.person?.fullname != null) {
        {{ globals.appData?.person?.fullname }}
        @if (globals.usertypeList?.length > 1) {
          @for (type of globals.usertypeList; track type.value) {
            <button (click)="clickType(type)" [class]="classForType(type)" mat-button>{{ type.label }}</button>
          }
        }
      }
      @if (globals.user.siteMode !== 2) {
        @if (globals.user.siteMode === 0) {
          <div i18n>Bitte die Gebäude auswählen, die in Deiner Stadt stehen</div>
        } @else {
          <div i18n>Liste der Gebäude in der Stadt</div>
        }
        <button (click)="toggleMode($event)" matIconButton small-icon-button>
          <mat-icon>{{ iconForMode() }}</mat-icon>
        </button>
        <button (click)="toggleMode($event, 2)" matIconButton small-icon-button>
          <mat-icon>{{ iconForMode(2) }}</mat-icon>
        </button>
      } @else {
        <button (click)="clickBuildingsBack($event)" matIconButton small-icon-button>
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      }
    </div>
    @if (globals.user.siteMode !== 2 || globals.user.activeGbKey == null) {
      <div>
        <button (click)="clickSort($event)" matIconButton small-icon-button>
          <mat-icon>{{ iconForSort }}</mat-icon>
        </button>
      </div>
    }
    <div>
      @if (globals.siteConfig.editField === 'user') {
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input (blur)="saveName()"
                 (focus)="bs.onFocus($event)"
                 (keydown.enter)="saveName()"
                 [(ngModel)]="globals.user.username"
                 autofocus matInput>
        </mat-form-field>
        <button (click)="saveName()" mat-button>
          <mat-icon>done</mat-icon>
        </button>
      } @else {
        <button (click)="clickName($event)" mat-button>
          {{ globals.user.username }}
        </button>
        <button (click)="clickZoom($event)" mat-button>
          <mat-icon>
            {{ ['zoom_in', 'zoom_out'][globals.user.userzoom] }}
          </mat-icon>
        </button>
      }

      @if (globals.isDebug) {
        <button (click)="clickImport($event)" mat-button>Importieren</button>
      }
      <!-- button (click)="sync.toggleSyncDropbox()" id="sync" mat-icon-button>
        <ng-container *ngIf="!sync.hasSync">
          <mat-icon>sync_disabled</mat-icon>
        </ng-container>
        <ng-container *ngIf="sync.hasSync">
          <img alt="dropbox" src="../../../assets/images/dropbox.png">
        </ng-container>
      </button -->
      <app-close-button [data]="closeData"></app-close-button>
    </div>
  </div>
  <div>
    <div [class]="classForContent" [style]="styleForContent" content>
      @if (assist.importDone) {
        <textarea>{{ gbJson }}</textarea>
      } @else if (!assist.hasData) {
        <div gbListError>
          Die Daten aus dem Cache sind falsch. Bitte den Cache leeren und neu versuchen.
        </div>
      } @else if (assist.loadDone) {
        <div gbList>
          @for (gb of globals.gbList; track $index) {
            <app-building [building]="gb"></app-building>
          }
        </div>
      }
    </div>
  </div>
  <app-log></app-log>
</div>
<app-progress></app-progress>
<div hidden id="mark"></div>
<div version>{{ globals.version }}</div>
