:host {
  --mat-form-field-filled-input-text-color: var(--bodyFore);
  --mat-form-field-filled-label-text-color: var(--bodyFore);
  --mat-form-field-filled-focus-input-text-color: var(--bodyFore);
  --mat-form-field-filled-focus-label-text-color: var(--bodyFore);
}

mat-card[epoch] {
  --cardFore: var(--bodyFore);
  --iconAttack: rgba(255, 160, 160);
  --iconDefend: rgba(0, 0, 255);
  --calcNegative: rgba(255, 170, 170);
  --calcPositive: rgba(180, 255, 180);
  --rowMark: rgba(255, 255, 255, 0.1);
  --calcCost: rgba(255, 255, 0, 0.8);
  --block: rgba(0, 0, 0, 0.5);

  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  min-height: 3em;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5em;
  border-radius: 1em;
  height: 100%;
  position: relative;
  color: var(--cardFore);
  --mat-form-field-filled-label-text-color: var(--ownerFore);
  --mat-form-field-filled-hover-label-text-color: var(--ownerFore);
  --mat-form-field-filled-input-text-color: var(--ownerFore);
  --mat-form-field-filled-focus-label-text-color: var(--ownerFore);
  gap: 0.5em;

  mat-card-title {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  [content] {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 0.5em;
    width: 100%;

    app-building {
      max-width: 49%;
      width: 49%;
    }
  }
}
