<mat-card epoch>
  <mat-card-title>
    @if (globals.user?.gbSort?.[globals.user.siteMode].asc) {
      <button (click)="globals.clickSortEpoch($event, epoch(), -1)" matIconButton small-icon-button>
        @if (globals.sortEpoch(epoch()) > 0) {
          <mat-icon>keyboard_arrow_left</mat-icon>
        } @else {
          <mat-icon>format_list_numbered</mat-icon>
        }
      </button>
      <button (click)="globals.clickSortEpoch($event, epoch(), 0)" label mat-button>{{ globals.epochName(epoch()) }}</button>
      <button (click)="globals.clickSortEpoch($event, epoch(), 1)" matIconButton small-icon-button>
        @if (globals.sortEpoch(epoch()) < globals.sortEpoch(globals.gbList[globals.gbList.length - 1].epoch)) {
          <mat-icon>keyboard_arrow_right</mat-icon>
        } @else {
          <mat-icon>format_list_numbered</mat-icon>
        }
      </button>
    } @else {
      <div label>{{ globals.epochName(epoch()) }}</div>
    }
  </mat-card-title>
  <div content>
    @for (gb of globals.gbList; track $index) {
      @if (gb.epoch === epoch()) {
        <app-building [building]="gb"></app-building>
      }
    }
  </div>
</mat-card>
